<div class="container">
  <div class="motto">
	  <h4 class="service-heading">Mein Antrieb ist es Menschen und Ideen zusammenzubringen. Ob Kunst oder Startup, ob Konferenz oder Festival. Im Vordergrund meiner Arbeit steht die Herausforderung den Moment zu schaffen, in dem sich Menschen treffen und austauschen, voneinander lernen und sich gegenseitig helfen können. </br> Einen Überblick über meinen Lebenslauf findet ihr <a href="https://www.linkedin.com/in/victoria-blechman/" target="_blank">hier</a>.</h4>
  </div>
</div>
